a {
    color: #ceaa48;
}
.nav a:hover,
.nav a.active {
    color: #e5bd50;
}
.about strong {
    color: #ceaa48;
}
.about .they {
    background-image: url(../images/decor.png)
}
#ceremony h3 {
    color: #b79740;
}
input[type='submit'] {
    background: #b27c09;
}
input.error {
    border: 2px solid #ff4c4c;
    box-shadow: none;
}
.contact {
    background-color: #f2dea7;
    border-top: 10px solid #f2dea7;
    box-shadow: 0 -6px 12px rgba(109, 90, 38, 0.275);
}
.contact h2 {
    color: #fff
}
.contact h3,
.contact #note {
    color: #b27c09;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3)
}
.no-touch.opacity .checkbox label:before {
    background: #b27c09
}
@media only screen and (min-width: 768px) {
    .nav-container .effect {
        background: #e5bd50
    }
    .contact-details-1,
    .ie-fix .contact-details-1 {
        border-right: 1px solid #b27c09
    }
    .contact-details-2,
    .ie-fix .contact-details-2 {
        border-left: 1px solid #b27c09
    }
}
@media only screen and (min-width: 1024px) and (min-height: 830px) {
    .header h2 {
        background-image: url(../images/decor.png)
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .about .they {
        background-image: url(../images/decor.png)
    }
}
@media only screen and (min-width: 1024px) and (min-height: 830px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-width: 1024px) and (min-height: 830px) and (min-width: 1024px) and (min-height: 830px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-width: 1024px) and (min-height: 830px) and (min-device-pixel-ratio: 1.5) {
    .header h2 {
        background-image: url(../images/decor.png)
    }
}